/target
/Cargo.lock

# geosteiner
*.o
*.dep
*.lo
*.libs/

analyze_ckpt
bb
demo1
demo2
demo3
demo4
docgen
dumpfst
efst
fst2graph
geosteiner.h
geosteiner_config
geosteiner_config.install
hgmst
lib_points
libgeosteiner.a
libgeosteiner.la
libLPS.a
merge_ckpt
plotfst
prunefst
rand_points
rfst
smt
ufst
config.log
configure
configure~
autom4te.cache

librs_geosteiner.la
librs_geosteiner.a
